<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/tx
             http://www.springframework.org/schema/tx/spring-tx.xsd
              http://www.springframework.org/schema/aop
              http://www.springframework.org/schema/aop/spring-aop.xsd
                http://www.springframework.org/schema/context
              http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.arm.spring">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <aop:aspectj-autoproxy/>


    <bean id="dog" class="com.arm.spring.bean.Dog" init-method="init" destroy-method="destroyXml">
        <constructor-arg value="小瞿"/>
    </bean>

    <!-- listener -->
    <bean id="catListener" class="com.arm.spring.event.CatListener" scope="prototype"/>
    <bean id="pigListener" class="com.arm.spring.event.PigListener"/>
    <bean id="washCatListener" class="com.arm.spring.event.WashCatListener"/>
    <bean id="masterPublisher" class="com.arm.spring.event.MasterPublisher"/>


    <!--aop -->
    <bean id="boy" class="com.arm.spring.aop.Boy"/>
    <bean id="girl" class="com.arm.spring.aop.Girl"/>
    <bean id="buyAspectJ" class="com.arm.spring.aop.BuyAspectJ"/>


    <!--事务测试-->

    <!-- 配置jdbc -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 配置数据源 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/test?useOldAliasMetadataBehavior=true&amp;useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
        <property name="initialSize" value="2"/>
        <property name="minIdle" value="2"/>
        <property name="maxIdle" value="10"/>
        <property name="maxWait" value="1000"/>

        <!-- 测试事务连接占用不释放的方式 -->
        <!--<property name="initialSize" value="1"/>
        <property name="minIdle" value="1"/>
        <property name="maxActive" value="1"/>-->
    </bean>

    <bean name="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

</beans>